<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">  <h4 >MARIO BROS</h4></div>
            <div class="panel-body">
                <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                    <img alt="User Pic" src="https://cdn02.nintendo-europe.com/media/images/10_share_images/games_15/virtual_console_nintendo_3ds_7/SI_3DSVC_SuperMarioBros_image1600w.jpg" id="profile-image1" class="img-circle img-responsive" width="200" height="200">


                </div>

                    <hr>
                    <ul class="container details" >

                    </ul>
                    <hr>
                    <h2> </h2>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>StoreGame</th>
                            <th>Link</th>

                        </tr>
                        
                        </thead>
                        <tr *ngFor="let DescriptionGame of DescriptionGames">
                            <td><img [src]="DescriptionGame.photo" width="150" height="150" /></td>
                            <td>{{DescriptionGame.name}}</td>
                         <td>{{DescriptionGame.description}}</td>
                         <td>{{DescriptionGame.price}}</td>
                         <td>{{DescriptionGame.storeGame}}</td>
                            <td><a href="https://{{DescriptionGame.link}}">{{DescriptionGame.link}}</a></td>

                     
                       
                        </tr>

                    </table>


    </div>
        </div>
    </div>
</div>