<div class="container">
    <h2>Edit User</h2>
    <form [formGroup]="todoForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <label for="firstname">Name</label>
        <input type="text" class="form-control" id="firstname" formControlName="firstname" required>
      </div>
  
      <div class="form-group">
        <label for="lastname">LastName</label>
        <input type="text" class="form-control" id="lastname" formControlName="lastname" required>
      </div>
  
      <div class="form-group">
        <label for="image">Url Image</label>
        <input type="text" class="form-control" id="image" formControlName="image" required>
      </div>
  
      <button type="submit" class="btn btn-success">Save</button>
  
    </form>
  </div>