
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<div id="encabezado">
    <h1>Brother Games</h1>
    <form>
        <div class="input-group">
            <input type="text" class="form-control" size="50" placeholder="Search Game" required>
            <div class="input-group-btn">
                <button id="boton" type="button" class="btn btn-info" routerLinkActive="/contentGames" routerLink="/contentGames">Search</button>
            </div>
        </div>
    </form>
</div>

<div id="about" class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h2>About Brother Games </h2><br>
            <h4>On this page you can search, consult and exchange the video games you want, in addition to consulting the prices of each of them in the different internet gaming platforms.</h4>
            <br>
            <h4>To be able to exchange a game you must first register to be able to log in and make the exchange</h4>
         </div>
        <div id="centerbrand">
            <img id="brand"  src="/assets/images/videojuegos.jpg" width="250" height="150">
        </div>
    </div>
</div>