
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 30px;
    font-family: 'fantasy';
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 30px;
    font-family: 'fantasy';
}
#encabezado {
    
    background-color: rgba(168, 169, 172, 0.788);
    color: #fff;
    padding: 100px 25px;
    font-family: 'fantasy';
    font-family: 'fantasy';
    text-align: center;
}

#boton{
    border: none;
    content:'';
    position: unset;
    
    
    color: #ffffff;
    height: 42px;
    background: rgba(28, 28, 29, 0.788);
    border-radius: 5px;
    transition: all 2s ease;
   }

#boton:hover {
    background: rgb(255, 255, 255);
    color: rgba(2, 44, 105, 0.788);
    box-shadow: inset 0 0 0 3px rgba(168, 169, 172, 0.788);
   }

#about{
    top: 100px;
    background-color: rgba(120, 120, 122, 0.788);
    color: rgb(255, 255, 255);
    padding: 80px 25px;
    font-family: 'fantasy';
    text-align: center;
}

#brand{
    border: 4px solid black;
}



