<div class="container">
    <div>
      <div id="centerbrand">
          <img id="brand"  src="/assets/images/videojuegos.jpeg" width="170" height="100">
          
          
      </div>
      <h2>My Exchanges</h2>
      <br>
      
    </div>
  
    <div>
      <table id="tabla" class="table table-bordered">
      <thead>
        <tr>
          <th>nameGame</th>
          <th>description</th>
          <th>image</th>
          <th>Add</th>
        </tr>
      </thead>
      <tr *ngFor="let change of changes">
        <td>{{change.nameGame}}</td>
        <td>{{change.description}}</td>
        <td><img [src]="change.image" width="150" height="150" /></td>
        <td><button (click)="myEvent($event)" type="submit" class="btn btn-success">Exchange</button></td>
      </tr>
    </table>
  </div>
</div>