<div class="container">
  <div>
    <div id="centerbrand">
        <img id="brand"  src="/assets/images/videojuegos.jpeg" width="170" height="100">
        
        
    </div>
    <h2>My Exchanges</h2>
    <br>
    
  </div>

  <div>
    <table id="tabla" class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name Game</th>
        <th>Description</th>
        <th>Image</th>
        <th>State</th>
      </tr>
    </thead>
    <tr *ngFor="let change of changes">
      <td >{{change.id}}</td>
      <td >{{change.nameGame}}</td>
      <td >{{change.description}}</td>
      <td ><img [src]="change.image" width="150" height="150" /></td>
      <td >{{change.state}}</td>
    </tr>
    </table>
  </div>

  <div>
    <table id="tabla" class="table table-bordered">
    <thead>
      <tr>
        <th>User</th>
        <th>Game to Change</th>
        <th>Image</th>
        <th>Your Game</th>
        <th>State Request</th>
      </tr>
    </thead>
    <tr *ngFor="let requests of listRequests">
      <td >{{requests.userRq}}</td>
      <td >{{requests.change1Game}}</td>
      <td ><img [src]="requests.change1" width="150" height="150" /></td>
      <td ><img [src]="requests.change2" width="150" height="150" /></td>
      <td >{{requests.state}}</td>
      <td><button (click)="myEvent($event)" id="tochange" type="submit" class="btn btn-success" value="{{change.user}},{{change.nameGame}},{{change.image}}" >Exchange</button></td>
    </tr>
    </table>
  </div>
</div>
