
<br>
<div class="container">
    <p for="toChange"><b>To change:</b></p>
    <table id="tabla" class="table table-bordered">
            <thead>
                <tr>
                <th>User</th>
                <th>Name Game</th>
                <th>image</th>
                
                </tr>
            </thead>
            <tr>
                <td>{{request1[0]}}</td>
                <td>{{request1[1]}}</td>
                <td><img [src]="request1[2]" width="75" height="75" /></td>
                
            </tr>
        </table>
</div>
<br>

<div class="container">
    <p for="toChange"><b>For change:</b></p>
    <table id="tabla" class="table table-bordered">
        <thead>
            <tr>
            <th>User</th>
            <th>Name Game</th>
            <th>image</th>
            
            </tr>
        </thead>
        <tr>
            <td>{{request2[0]}}</td>
            <td>{{request2[1]}}</td>
            <td><img [src]="request2[2]" width="75" height="75" /></td>
            
        </tr>
    </table>   
</div>
<br>
<br>
<button id="tochange" (click)="acceptR($event)" type="submit">Accept</button>
