<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  <a class="navbar-brand" href="#">BrotherGames</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="/" routerLink="/">Home</a>
      </li>
      <li *ngIf="isLoggedIn()" class="nav-item">
        <a class="nav-link" routerLinkActive="/profile" routerLink="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="/searchGames" routerLink="/searchGames">Games</a>
      </li>
      <li *ngIf="isLoggedIn()" class="nav-item">
        <a class="nav-link" routerLinkActive="/edit" routerLink="/edit">Games Exchange</a>
      </li>
      <li *ngIf="isLoggedIn()" class="nav-item">
        <a href="#" class="nav-link" (click)="signOut()">(Sign Out)</a>
      </li>
      </ul>

      <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">

          <li *ngIf="!isLoggedIn()" class="nav-item active">
            <a class="nav-link"  routerLinkActive="/register" routerLink="/register">REGISTER<span class="sr-only">(current)</span></a>
          </li>

          <li *ngIf="!isLoggedIn()" class="nav-item active">
            <a class="nav-link" routerLinkActive="/signin" routerLink="/signin">SIGN IN<span class="sr-only">(current)</span></a>
          </li>

        </ul>
    </form>

  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>