<div class="container">
  <br>
  <div id="centerbrand">

    <img id="brand"  src="/assets/images/videojuegos.jpg" width="170" height="80">
  </div>

  <h2 class="text-center">SIGN IN BROTHERS GAMES</h2>
  <br>
  <br>
  <form [formGroup]="signInForm" (ngSubmit)="doLogin()" novalidate>

    <div class="form-group">
      <label  for="description">Username</label>
      <input type="text" class="form-control" id="description" formControlName="username" required>
    </div>

    <div class="form-group">
      <label for="priority">Password</label>
      <input type="password" class="form-control" id="alterEgo" formControlName="password" required>
    </div>
    <br>
    <button type="submit" class="btn btn-success" [disabled]="!signInForm.valid">SIGN IN</button>


    <p class="text-danger mt-1" *ngIf="loginError">{{loginError}}</p>
  </form>
</div>