<div class="container">
  <h2>Edit searchGame</h2>
  <form [formGroup]="commentsForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
      <label for="description">Name</label>
      <input type="text" class="form-control" id="name" formControlName="name" required>
    </div>

    <div class="form-group">
      <label for="priority">description</label>
      <input type="text" class="form-control" id="description" formControlName="description">
    </div>


    <button type="submit" class="btn btn-success">Ok</button>
    <button type="button" class="btn btn-primary" routerLinkActive="/commentsreview" routerLink="/commentsreview">review comments</button>


  </form>
</div>